$dark-color: #06355a;
$light-color: #619ece38;
$bg-color: ghostwhite;


.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    
    .tableRow {
        display: table-row;
        background-color: $bg-color;

        &.tableHeader {
            font-weight: bold;
            background-color: $dark-color;
            color: $bg-color;

            .tableItem {
                padding: 25px 6px;
            }
        }
    }

    .tableItem {
        display: table-cell;
        padding: 8px 6px;
        text-align: center;
        border: 1px solid white;
    }

    .tableItem:first-of-type {
        width: 300px;
        text-align: start;
    }

}

.checkbox-container {
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .checkmark {
        display: inline-block;
        height: 25px;
        width: 25px;
        background-color: $bg-color;
        border: 1px solid $dark-color;
        border-radius: 25px;
    }

    &:hover input ~ .checkmark {
        background-color: $light-color;
    }

    & input:checked ~ .checkmark {
        background-color: $light-color;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    & input:checked ~ .checkmark:after {
        display: block;
    }

    .checkmark:after {
        left: 13px;
        top: -13px; 
        width: 8px;
        height: 25px;
        border: solid $dark-color;
        border-width: 0 4px 4px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
}